<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krl109.scheduler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.krl109.scheduler.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity untuk New Schedule -->
        <activity
            android:name="com.krl109.scheduler.newSchedule.NewSchedule"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krl109.scheduler.new_schedule" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krl109.scheduler.tabLayout.TabLayout"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krl109.scheduler.tabLayout.TabLayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.krl109.scheduler.tabLayout.ListSchedule" />
        <activity android:name="com.krl109.scheduler.tabLayout.ListScheduleView" />
        <activity android:name="com.krl109.scheduler.tabLayout.ListSent" />
        <activity android:name="com.krl109.scheduler.tabLayout.ListFailed" />
        <activity android:name="com.krl109.scheduler.tabLayout.ListPaused" />
        <activity android:name="com.krl109.scheduler.history.History" >
        </activity>
        <activity android:name="com.krl109.scheduler.history.HistoryDetail" >
        </activity>
        <activity android:name="com.krl109.scheduler.template.Template" >
        </activity>
        <activity android:name="com.krl109.scheduler.template.NewTemplate" >
        </activity>

        <!-- App slides right to reveal menu underneath -->
        <activity android:name="com.krl109.scheduler.setting.Setting" >
        </activity>

        <!-- App slides right to reveal menu underneath -->
        <activity android:name="com.krl109.scheduler.setting.SettingALert" >
        </activity>
        <activity android:name="com.krl109.scheduler.tabLayout.EditContent" >
        </activity>
        <activity android:name="com.krl109.scheduler.tabLayout.EditSchedule" >
        </activity>
        <activity android:name="com.krl109.scheduler.tabLayout.EditRecipient" >
        </activity>
    </application>

</manifest>